body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn{
  margin-right:10px;
}

.nextPage {
  float: right;
}


.content {
  padding-top: 50px;
}

.search-challenges {
  padding: 5px;
  border-radius: 5px;
}