extends ../layout

block content
  .users
    if !(users && users.length)
      p nothing to see here...
    else
      ul
      each user in users
        li.user-box
          p
            span= user.name + " "
            span= user.email