!!! 5

include ../website/websiteHeader

body

  include ../website/websiteFacebook

  #wrapper_margins

    #hiddenNav
      a(href='#container') Skip to content
      | |
      a(href='#nav') Skip to navigation
    #header
      nav.navbar.navbar-default(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/stylesheets/website/img/nock.png', alt='NOCK', height='57', width='124')
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/website', title='So funktioniert\'s') So funktioniert's
            li
              a(href='/provider', title='Für Geschäftsinhaber') Für Geschäftsinhaber
            li
              a(href='/contact', title='Kontakt') Kontakt
            li.active
              a(href='/login', title='Kontakt') Login

    #content
      .container
        .container-inner
          h3.headline-big Geschäftsinhaber Login
        .container-inner
          .registration-form
            form(role='form', method='post', action='/users/login', enctype='application/x-www-form-urlencoded')
              input(type='hidden', name='_csrf', value="#{csrf_token}")
              if flashs
                - each flash in flashs
                  .flash= flash
              if invalid
                - each err in messages
                  .error= err
              ul.clearfix.border-bottom
                li.clearfix
                  label(for='email') Username:
                  input#email.input(type='text', name='username')
                li.clearfix
                  label(for='password') Passwort:
                  input#password.input(type='password', name='pass')
              ul.clearfix.full-width
                li
                  input#login.btn(type='submit', name='login', value='Anmelden')
      #footer-big
        .footer-inner
          img.footer-big-appstore(src='/stylesheets/website/img/appstore.png', alt='Soon available on the App Store', height='77', width='230')
          img.footer-big-iphone(src='/stylesheets/website/img/footer-image.jpg', alt='NOCK - Your challenge. Your reward.', height='700', width='960')
          .footer-big-facebook.clearfix
            .footer-big-facebook-like
              .fb-like(data-href='https://www.facebook.com/getnock', data-width='The pixel width of the plugin', data-height='The pixel height of the plugin', data-colorscheme='dark', data-layout='button_count', data-action='like', data-show-faces='false', data-send='false')
            a.btn.btn-facebook(href='http://www.facebook.com/getnock', title='Besuch uns auf facebook', target='_blank')
              img(src='/stylesheets/website/img/btn-fbIcon.png', alt='f', height='26', width='31')
              | Besuch uns auf facebook


  include ../website/websiteFooter
