extends ../layout

block content
  h1= title
  form(role='form', method='post', action='/challenges', enctype='multipart/form-data')
    if errors
      .errors
      - each err in errors
        .error= err


    // input(type="hidden", name="_csrf", value="#{csrf_token}")

    .form-group
      label(for='title').control-label Title
      input#title(name='title', placeholder='Title').form-control
    .form-group
      label(for='file').control-label Image
      input#body(name='image[]', type='file').form-control
    .form-group
      label(for='body').control-label Description
      textarea#body(name='body', placeholder='Description').form-control
    .form-group
      label(for='points').control-label Points
      input#points(name='points', placeholder='Points').form-control
    .form-group
      label(for='location').control-label Location
      input#location(name='location', placeholder='Location').form-control
    .form-group
      button(type='submit', value='Log In').btn.btn-default Submit

