extends ../layout

block content
  if session.isLoggedIn
    p
      a(href="/challenges/create") New Challenge
  if !(challenges && challenges.length)
    p Nothing to see here. Move along...
  else
    ul.challenges
      each challenge in challenges
        li
          h2
            a(href="/challenges/#{challenge.id}")= challenge