include websiteHeader

body

  include websiteFacebook

  #wrapper_margins

    #hiddenNav
      a(href='#container') Skip to content
      | |
      a(href='#nav') Skip to navigation
    #header
      nav.navbar.navbar-default(role='navigation')
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/')
            img(src='/stylesheets/website/img/nock.png', alt='NOCK', height='57', width='124')
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/website', title='So funktioniert\'s') So funktioniert's
            li
              a(href='/provider', title='Für Geschäftsinhaber') Für Geschäftsinhaber
            li
              a(href='/contact', title='Kontakt') Kontakt
            li
              a(href='/login', title='Kontakt') Login

    #content
      .container
        .container-inner
          h3.headline-big Impressum
          h4 NOCK - Your challenge. Your reward.
          p
            | NOCK IT GmbH i.G.
            br
            | Stargarder Straße 25
            br
            | 10437 Berlin
            br
            | Germany
          p
            | E-Mail:&nbsp;
            a(href='mailto:contact@getnock.com', title='Mail to NOCK') contact@getnock.com
          h3 Medien
          p
            | Fotos:&nbsp;
            a(href='http://www.emanuelepagni.com/de', title='Emanuele Pagni', target='_blank') Emanuele Pagni
          p
            | Location für die Fotos:&nbsp;
            a(href='http://www.edelweiss36.com/', title='Das Edelweiss', target='_blank') Das Edelweiss
          h3 Haftungsbeschränkung
          p
            | Die Inhalte unserer Webseiten wurden sorgfältig und nach bestem Gewissen erstellt. Gleichermaßen kann für die Aktualität, Vollständigkeit und Richtigkeit sämtlicher Seiten keine Gewähr übernommen werden. Die Nutzung der Inhalte der Website erfolgt auf eigene Gefahr des Nutzers. Mit der reinen Nutzung der Website des Anbieters kommt keinerlei Vertragsverhältnis zwischen dem Nutzer und dem Anbieter zustande. Ferner enthält unsere Webseite Verknüpfungen zu Webseiten Dritter. Da wir auf diese Inhalte keinen Einfluss haben, kann für die fremden Inhalte keine Gewähr übernommen werden. Für die Inhalte und Richtigkeit der Informationen ist stets der jeweilige Informationsanbieter der verlinkten Webseite verantwortlich. Zum Zeitpunkt der Verlinkung waren keine Rechtsverstöße erkennbar. Sobald uns eine Rechtsverletzung bekannt wird, werden wir den jeweiligen Link umgehend entfernen.
          h3 Datenschutz
          p
            | Personenbezogene Daten werden nur erhoben, wenn diese vom User selbst angegeben werden. Im Umgang mit diesen Daten beachtet NOCK IT GmbH i.G. die gesetzlichen Bestimmungen. NOCK IT GmbH i.G. folgt darüber hinaus folgenden Grundsätzen:
          p Wir informieren Sie über den Verwendungszweck der von Ihnen angegebenen Daten.
          p
            | Wir sichern Ihre Daten mit allen uns zur Verfügung stehenden Mitteln vor unzulässigem Zugriff, vor Verlust und Veränderung.
          p
            | Wir verarbeiten und nutzen Ihre Daten ausschließlich, um Ihnen die gewünschten Informationen und Dienstleistungen anbieten zu können. Eine Übermittlung Ihrer Daten an Dritte findet nicht statt.
          p
            | Die von Ihnen preisgegebenen personenbezogenen Daten löschen wir umgehend aufgrund Ihrer schriftlichen Willenserklärung.
          h3 Nutzungsbedingungen
          p
            | NOCK IT GmbH i.G. bemüht sich im Rahmen des Zumutbaren, auf dieser Website richtige und vollständige Informationen zur Verfügung zu stellen.
          p
            | NOCK IT GmbH i.G. übernimmt jedoch keine Haftung oder Garantie für die Aktualität, Richtigkeit und Vollständigkeit der auf dieser Website bereitgestellten Informationen. Dies gilt auch für alle Verbindungen und/oder Links, auf die diese Website direkt oder indirekt verweist.
          p
            | NOCK IT GmbH i.G. ist für den Inhalt einer Seite, die mit einem solchen Link erreicht wird, nicht verantwortlich.
          p
            | NOCK IT GmbH i.G. behält sich das Recht vor, ohne vorherige Ankündigung Änderungen oder Ergänzungen an den bereitgestellten Informationen vorzunehmen. Der Inhalt dieser Website ist urheberrechtlich geschützt.
          p
            | NOCK IT GmbH i.G. gewährt Ihnen jedoch das Recht, den auf dieser Website bereitgestellten Text ganz oder ausschnittsweise zu speichern und zu vervielfältigen. Aus Gründen des Urheberrechts ist allerdings die Speicherung und Vervielfältigung von Bildmaterial oder Grafiken aus dieser Website nicht gestattet.
          p
            | NOCK IT GmbH i.G. haftet nicht für direkte oder indirekte Schäden, die aufgrund von oder auf sonstige Weise wie in Verbindung mit Informationen entstehen, die auf dieser Website bereitgehalten werden.
          h3 Verwendung von Facebook-Plug-ins
          p
            | Auf diesen Internetseiten werden Plug-ins des sozialen Netzwerkes facebook.com verwendet, das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird ("Facebook").
            | Wenn Sie mit einen solchen Plug-in versehene Internetseiten unserer Internetpräsenz aufrufen, wird eine Verbindung zu den Facebook-Servern hergestellt und dabei das Plug-in durch Mitteilung an Ihren Browser auf der Internetseite dargestellt. Hierdurch wird an den Facebook-Server übermittelt, welche unserer Internetseiten Sie besucht haben. Sind Sie dabei als Mitglied bei Facebook eingeloggt, ordnet Facebook diese Information Ihrem persönlichen Facebook-Benutzerkonto zu. Bei der Nutzung der Plug-in-Funktionen (z. B. Anklicken des "Gefällt mir"-Buttons, Abgabe eines Kommentars) werden auch diese Informationen Ihrem Facebook-Konto zugeordnet, was Sie nur durch Ausloggen vor Nutzung des Plugins verhindern können.
            | Nähere Informationen zur Erhebung und Nutzung der Daten durch Facebook, über Ihre diesbezüglichen Rechte sowie Möglichkeiten zum Schutz Ihrer Privatsphäre finden Sie in den Datenschutzhinweisen von Facebook.
          h4 Datenschutzerklärung für die Nutzung von Google Analytics
          p
            | Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern.
          h4 Wichtiger Hinweis zu den Links
          p
            | Das Landgericht Hamburg hat mit Urteil vom 12.05.1998 entschieden, dass ein Autor durch die Ausbringung von Links die Inhalte der gelinkten Seiten ggf. mit zu verantworten hat. Für alle Links auf externe Seiten gilt
          p
            | NOCK IT GmbH i.G. erklärt ausdrücklich, dass zum Zeitpunkt der Linksetzung die entsprechend gelinkten Seiten frei von illegalen Inhalten waren.
          p
            | NOCK IT GmbH i.G. hat keinerlei Einfluss auf die aktuelle oder zukünftige Gestaltung und auf die Inhalte der gelinkten Seiten.
            br
            | Deshalb distanziert sich NOCK IT GmbH i.G. hiermit ausdrücklich von allen Inhalten aller verlinkten Seiten, die nach Linksetzung verändert wurden.
          h4 Allgemeine Teilnahmebedingungen für Gewinnspiele
          p
            strong I. Geltungsbereich
          p
            | Diese Allgemeinen Teilnahmebedingungen gelten für alle Gewinnspiele, die von NOCK IT GmbH i.G. durchgeführt werden. Sie gelten gegebenenfalls ergänzend zu besonderen Teilnahmebedingungen, falls und soweit solche mit dem jeweiligen Gewinnspiel bekanntgegeben wurden. Jeder Teilnehmer erkennt mit der Teilnahme diese Teilnahmebedingungen sowie die bei jedem Gewinnspiel gesondert genannte Teilnahmebedingungen und Teilnahmefristen an.
          p
            strong II. Teilnahme
          p
            | 1. Teilnehmen darf jede volljährige, natürliche Person in eigenem Namen. Minderjährige sind, vorbehaltlich einschlägiger gesetzlicher Bestimmungen, zur Teilnahme berechtigt wenn der gesetzliche Vertreter der Teilnahme zustimmt. Von der Teilnahme ausgeschlossen sind Mitarbeiter von NOCK IT GmbH i.G., verbundener Unternehmen und eventueller Kooperationspartner, sowie deren Angehörige.
          p
            | 2. Die Teilnahme an einem Gewinnspiel erfolgt über die  bei jedem Gewinnspiel gesondert genannten Teilnahmbedingungen. Nicht den vorliegenden Teilnahmebedingungen entsprechende Anmeldungen werden disqualifiziert. Gleiches gilt für Anmeldungen von Teilnehmern, deren Daten wunschgemäß gelöscht wurden oder werden.
          p
            | 3. Erfordert die Teilnahme die Zusendung von Materialien versichert jeder Teilnehmer, alleiniger Eigentümer und Inhaber aller Nutzungs- und Verwertungsrechte an dem eingesendeten Material zu sein. Mit Zusendung räumt jeder Teilnehmer NOCK IT GmbH i.G. das Eigentum sowie umfassende Nutzungs- und Verwertungsrechte an dem zugesandten Material ein, es sei denn der Teilnehmer erklärt mit Zusendung schriftlich seinen Widerspruch. NOCK IT GmbH i.G. übernimmt keine Haftung für jegliches zugesandtes Material, es sei denn NOCK IT GmbH i.G. oder deren Mitarbeiter handeln vorsätzlich oder grob schuldhaft. Nach Abschluss des Gewinnspiels ist NOCK IT GmbH i.G. berechtigt, jegliches zugesandtes Material zu vernichten.
          p
            | 4. Der Einsendeschluss wird jeweils gesondert in dem Gewinnspiel bekanntgegeben. Fällt der Termin auf einen Samstag, Sonntag oder Feiertag gilt als Einsendeschluss der letzte Werktag vor Ablauf der Teilnahmefrist.
          p
            | 5. Eine mehrmalige Teilnahme erhöht nicht die Gewinnchancen. Maschinell generierte Anmeldungen werden generell nicht berücksichtigt.
          p
            strong III. Durchführung und Gewinn
          p
            | 1. Bei mehreren Teilnehmern und/oder mehreren richtigen Einsendungen entscheidet das Los beziehungsweise gegebenenfalls eine gesonderte Regelung für das Gewinnspiel. Der Rechtsweg ist stets ausgeschlossen.
          p
            | 2. Ausgeloste Teilnehmer werden per E-mail oder schriftlich per Post oder Fax benachrichtigt. Jeder so benachrichtigte Teilnehmer ist verpflichtet, innerhalb von 2 (zwei) Wochen nach Versand der Benachrichtigung NOCK IT GmbH i.G. mitzuteilen, ob er den Gewinn annimmt. Falls NOCK IT GmbH i.G. innerhalb dieser Frist keine solche Nachricht erhält, verfällt die der Möglichkeit der Annahme des Gewinns und NOCK IT GmbH i.G. behält sich vor, einen anderen Teilnehmer per Los zu ermitteln und entsprechend zu benachrichtigen. Falls NOCK IT GmbH i.G. die Adresse eines ausgelosten Teilnehmers bekannt ist behält sich NOCK IT GmbH i.G. vor, den Gewinn direkt mit der Benachrichtigung zu verschicken.
          p
            | 3. Die Nennung des Gewinns erfolgt beim jeweiligen Gewinnspiel gesondert. Der im Gewinnspiel gegebenenfalls präsentierte Gewinn ist nicht zwingend mit dem gewonnenen Gegenstand identisch, Abweichungen insbesondere im Modell, Farbe und Ausstattung u.ä. sind möglich. Bis zu Übergabe des Gewinns behält sich NOCK IT GmbH i.G. darüber hinaus ausdrücklich vor, ohne Ankündigung oder Angaben von Gründen den Spielablauf zu verändern und/oder den Gewinn in Art und Umfang zu ändern, auszutauschen und durch einen anderen Gewinn zu ersetzen. Den Teilnehmern stehen in solchen Fällen keinerlei Ansprüche gegen NOCK IT GmbH i.G. zu.
          p
            | 4. Der Gewinn besteht grundsätzlich ausschließlich in dem von NOCK IT GmbH i.G. angegebenen Umfang. Eventuell dem Gewinner bei und/oder durch die Nutzung des Gewinns entstehende (Folge-) Kosten sind nur dann umfasst, wenn dies ausdrücklich im Gewinnspiel angegeben wurden. NOCK IT GmbH i.G. übernimmt keine Haftung für Schäden, die einem Teilnehmer durch die Annahme und/ oder Nutzung des Gewinns entstehen.
          p
            | 5. Eine Barauszahlung des Gewinnwertes und ein Umtausch des Gewinns sind ausgeschlossen. Der Gewinn ist nicht übertragbar.
          p
            | 6. NOCK IT GmbH i.G. behält sich vor, den Namen des Gewinners öffentlich bekannt zu geben. Der Gewinner erklärt sich hiermit einverstanden.
          p
            strong IV. Vorzeitige Beendigung, Ausschluss
          p
            | 1. NOCK IT GmbH i.G. behält sich vor, das Gewinnspiel jederzeit ohne Vorankündigung und ohne Angabe von Gründen abzubrechen oder zu beenden. Dies gilt insbesondere, falls eine ordnungsgemäße Durchführung aus technischen oder rechtlichen Gründen nicht gewährleistet werden kann. Den Teilnehmern stehen in einem solchen Fall keinerlei Ansprüche gegen NOCK IT GmbH i.G. zu.
          p
            | 2. NOCK IT GmbH i.G. behält sich vor, Teilnehmer von der Teilnahme am Gewinnspiel auszuschließen. Dies gilt insbesondere bei Verstößen gegen die Teilnahmebedingungen, oder falls sich Teilnehmer der Manipulation oder anderer unredlicher Hilfsmittel bedienen. NOCK IT GmbH i.G. kann einen solchen Ausschluss auch nachträglich aussprechen, Gewinne wieder aberkennen und diese zurückfordern.
          p
            strong V. Datenschutz
          p
            | Damit die Durchführung eines Gewinnspiels möglich ist muss NOCK IT GmbH i.G. personenbezogene Daten der Teilnehmer, wie z.B. Namen und Adresse kennen. Personenbezogene Daten, die NOCK IT GmbH i.G. im Rahmen der Teilnahme an einem Gewinnspiel übermittelt werden, werden von NOCK IT GmbH i.G. sowie gegebenenfalls beteiligter Kooperationspartner im Regelfall nur zur Durchführung und Abwicklung des Gewinnspiels gespeichert, verarbeitet und genutzt. Eine Weitergabe der Daten an Dritte findet nicht statt. Die gesonderten Regeln der jeweiligen Gewinnspiele mögen hinsichtlich der Verwendung von personenbezogenen Daten eine andere und weitergehende Regelung haben. Auf Wunsch erteilt NOCK IT GmbH i.G. jedem Teilnehmer unentgeltlich Auskunft über alle personenbezogenen Daten, die von ihm gespeichert wurden und wird diese auf Anfrage umgehend unentgeltlich vernichten. Hierzu genügt eine formlose Nachricht per E-Mail.
      #footer-big
        .footer-inner
          img.footer-big-appstore(src='/stylesheets/website/img/appstore.png', alt='Soon available on the App Store', height='77', width='230')
          img.footer-big-iphone(src='/stylesheets/website/img/footer-image.jpg', alt='NOCK - Your challenge. Your reward.', height='700', width='960')
          .footer-big-facebook.clearfix
            .footer-big-facebook-like
              .fb-like(data-href='https://www.facebook.com/getnock', data-width='The pixel width of the plugin', data-height='The pixel height of the plugin', data-colorscheme='dark', data-layout='button_count', data-action='like', data-show-faces='false', data-send='false')
            a.btn.btn-facebook(href='http://www.facebook.com/getnock', title='Besuch uns auf facebook', target='_blank')
              img(src='/stylesheets/website/img/btn-fbIcon.png', alt='f', height='26', width='31')
              | Besuch uns auf facebook

  include websiteFooter