#footer
  .footer-inner.clearfix
    .right
      ul.clearfix
        li
          a(href='http://www.getnock.com/company', title='Über uns') Über uns
        li
          a(href='http://www.getnock.com/contact', title='Kontakt') Kontakt
        li
          a(href='http://www.getnock.com/imprint', title='Impressum') Impressum
    .left
      span © 2013 NOCK IT GmbH i.G.


script(src='/javascripts/vendor/jquery.min.js')
script(src='/javascripts/vendor/bootstrap.min.js')
script(src='/javascripts/website_scripts.js')
script(src='/javascripts/vendor/fancybox/jquery.fancybox.pack.js')