!!! 5

head
  meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
  meta(name='Description', content='Das Social Game, bei dem Deine Erfolge direkt belohnt werden.')
  meta(name='Keywords', content='NOCK, Game, Spiel, Reward, Coupon, Discovery, Challenge, Startup, Bars, Locations, Location-based')
  meta(name='robots', content='index,follow')
  meta(name='language', content='de')
  meta(name='publisher', content='NOCK')
  meta(http-equiv='imagetoolbar', content='no')
  meta(content='img/logo-app.png', property='og:image')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title NOCK | Your challenge. Your reward.

  link(rel='shortcut icon', href='img/favicon.ico')

  link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')

  link(rel='stylesheet', type='text/css', media='all', href='/stylesheets/website/css/master.css')
  link(rel='stylesheet', href='/javascripts/vendor/fancybox/jquery.fancybox.css', type='text/css', media='screen')