#footer
  .footer-inner.clearfix
    .right
      ul.clearfix
        li
          a(href='/contact', title='Kontakt') Kontakt
        li
          a(href='/imprint', title='Impressum') Impressum
    .left
      span © 2013 NOCK IT GmbH


script(src='/javascripts/vendor/jquery.min.js')
script(src='/javascripts/vendor/bootstrap.min.js')
script(src='/javascripts/website_scripts.js')
script(src='/javascripts/vendor/fancybox/jquery.fancybox.pack.js')