.container
  .footer
    hr(style='margin: 30px 0 10px 0;')
    p &copy;&nbsp;
      a(href='#') getnock
      &nbsp;2013

script(src='/javascripts/vendor/jquery.min.js')
script(src='/javascripts/vendor/bootstrap.min.js')
script(src='/javascripts/scripts.js')

block footer